html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
}

.sloupec {
	padding: 20px;
}
.parkovani{background-color: #e74c3c;}
.volnaMista	{ background-color: #2ecc71; }
.oteviraciDoba	{ background-color: #f1c40f; }
.upcoming			{ background-color: #3498db; }
.otevritZavoru	{ background-color: #e74c3c; }
.kontakty	{ background-color: #9b59b6; }
.vytizeni{background-color: #2ecc71;}

/* ---------------------------------------------------- */
.kontejner{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px 200px 200px;
	gap: 10px;

}


.parkovani{
	grid-column: 1/3;
	grid-row: 1;
}

.volnaMista{
	grid-column: 1;
	grid-row: 2;
}
.oteviraciDoba{
	grid-column: 2;
	grid-row: 2;
}
.upcoming{
	grid-column: 1;
	grid-row: 3/5;
}
.otevritZavoru{
	grid-column: 2;
	grid-row: 4;
}
.kontakty{
    grid-column: 1/4;
    grid-row: 5;
}
.vytizeni{
    grid-template-columns: 2;
    grid-row: 3/4;
}